body {
   font-family: Arial, sans-serif;
   line-height: 1.5;
   box-sizing: border-box;
}
.wrapper {
   margin: 0 auto;
}
.title {
   margin: 15px auto;
   text-align: center;
}
.bayan {
   margin: 0 auto;
   margin: 0 1%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.bayan__items {
   display: flex;
   flex-direction: column;
}
.bayan-input {
   width: 0;
   height: 0;
   -webkit-appearance: none;
   appearance: none;
}
.bayan-title {
   margin: 0 auto;
   text-align: center;
   cursor: pointer;
}
.bayan-input:checked ~ .bayan1__img {
   display: block;
}
.bayan1__img {
   display: none;
}
img {
   height: auto;
   width: 100%;
   max-width: 720px;
}